.game{
	display:inline-flex;
	margin: 50px;
}


.rank_elements {
	border-width:1px;
	border-style:solid;
	border-color: grey;
	/* overflow: scroll; */
	padding: 5px 100px;
	font-size: 25px;
}

.scroll {
	overflow: scroll;
	height: 68vh;
}

.profilePic{
	margin-left: 10px;
	height: 30px;
	width: 30px;
	border-radius: 50%;
}

@media screen and (max-width: 755px){
	.game{
		display: grid;
		height: 20vh;
	}
	.scroll{
		height: 20vh;
	}
  }