.tab{
	height: 60vh;
}

.scroll {
	overflow: scroll;
}

.scroll::-webkit-scrollbar{
	display:none;
}

.elements {
	border-width:1px;
	border-style:solid;
	border-color: grey;
}

.title {
	color: #5843e4;
	font-weight: bold;
	margin-bottom: 25px;
}

.content {
	color: white;
    font-weight: bold;
	flex-direction: column;
	margin-bottom: 5px;
}

.content2nd {
	display:inline;
	flex-direction: row;
	color: white;
    font-weight: bold;
	flex-direction: row;
}

.me {
	text-align: start;
	margin-left: 10px;
}

.score {
	text-align: center;
}

.opponent {
	text-align: end;
	margin-right:10px; 
}

div::-webkit-scrollbar {
	width: 1;
}
   
div::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
   
div::-webkit-scrollbar-thumb {
	background-color: red;
	outline: 3px solid black;
}